@charset "utf-8";
/* CSS Document */

/* ==|== header menu styles==================================================
   ========================================================================== */
#indicatorContainer {
	display: none;
}
#menu-button {
	display: none;
}
#cssmenu ul {
  margin: 0;
  padding: 0;
}
#cssmenu li {
  margin: 0;
  padding: 0;
}
#cssmenu a {
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu a {
  text-decoration: none;
}
#cssmenu {
  height: 40px;
  width: auto;
}
#cssmenu > ul > li {
  float: left;
  margin-left: 0;
  position: relative;
  height: 40px;
}
#cssmenu > ul > li > a {
  color: #000000;
  font-size: 17px;
  line-height: 39px;
  padding: 11px 20px;
}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li.current-menu-item > a, #cssmenu > ul > li.current-menu-parent > a {
	background: none;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  display: none;
  padding: 16px 0 20px 0;
  background-color: #483934;
  text-align: left;
  position: absolute;
  top: 51px;
  left: 50%;
  margin-left: -90px;
  margin-top: 0;
  width: 180px;
  z-index: 10000;
  border: #4D4E4F 2px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 51px;
  display: block;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #F8F5F5;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: #483934;
  padding: 5px 8px 7px 16px;
  display: block;
}
#cssmenu ul ul a:hover, #cssmenu ul ul li.active a {
  background-color: #DCDCDC;
  color: #692304;
}
#cssmenu ul ul ul {
  display: none;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 188px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 180px;
  display: block;
}