/* Custom fonts */
@font-face {
  font-family: 'AyuthayaRegular';
  src: url("fonts/ayuthaya-webfont.eot");
  src: url("fonts/ayuthaya-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ayuthaya-webfont.woff") format("woff"), url("fonts/ayuthaya-webfont.ttf") format("truetype"), url("fonts/ayuthaya-webfont.svg#AyuthayaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Body styles */
/* line 14, ../sass/screen.scss */
body {
  background: url(../img/background.jpg) top left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* line 18, ../sass/screen.scss */
#home-widecontainer {
  width: 995px;
  margin: 0 auto;
}

/* line 22, ../sass/screen.scss */
#home-bigcontainer {
  width: inherit;
}

/* Header styles */
/* line 27, ../sass/screen.scss */
#home-header {
  height: 213px;
  width: inherit;
  float: left;
  background: url(../img/home-topbg.png) no-repeat top left;
}
/* line 32, ../sass/screen.scss */
#home-header #home-headerlogo {
  height: 143px;
  width: 806px;
  padding: 30px 0 0 94px;
}

/* Home styles */
/* line 40, ../sass/screen.scss */
#home-middle {
  height: 564px;
  width: inherit;
  float: left;
  position: relative;
}
/* line 45, ../sass/screen.scss */
#home-middle #home-bannercontainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 5px 0 0 207px;
  height: 559px;
}
/* line 53, ../sass/screen.scss */
#home-middle #home-middlecontainer {
  height: 564px;
  width: inherit;
  background: url(../img/home-bodybg.png) no-repeat top left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 61, ../sass/screen.scss */
#home-middle #home-middlecontainer #home-navleft {
  width: 160px;
  display: inline-block;
  float: left;
  margin: 135px 0 0 51px;
}
/* line 67, ../sass/screen.scss */
#home-middle #home-middlecontainer #home-navright {
  width: 200px;
  display: inline-block;
  float: right;
  margin: 135px 30px 0 0;
}
/* line 75, ../sass/screen.scss */
#home-middle #home-middlecontainer .home-nav div > ul {
  margin: 0;
  padding: 0;
}
/* line 78, ../sass/screen.scss */
#home-middle #home-middlecontainer .home-nav div > ul > li {
  list-style-image: url(../img/navarrow.png);
}
/* line 80, ../sass/screen.scss */
#home-middle #home-middlecontainer .home-nav div > ul > li > a {
  display: block;
  font-family: 'AyuthayaRegular', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 0 10px 0;
}
/* line 90, ../sass/screen.scss */
#home-middle #home-middlecontainer .home-nav div > ul > li > a:hover {
  text-shadow: #996600 2px 0 3px, #996600 0 2px 3px, #996600 -2px 0 3px, #996600 0 -2px 3px;
}

/* Page styles */
/* Sidebar styles */
/* CUSTOM SIDEBAR STYLES HERE */
/* END CUSTOM SIDEBAR STYLES */
/* Footer styles */
/* line 107, ../sass/screen.scss */
#home-footer {
  height: 120px;
  width: inherit;
  float: left;
  background: url(../img/home-bottombg.png) top left no-repeat;
}
/* line 114, ../sass/screen.scss */
#home-footer .left {
  height: 39px;
  width: 168px;
  display: inline-block;
  float: left;
  margin: 67px 0 0 202px;
  font-size: 22px;
  line-height: 24px;
  color: #322f33;
}
/* line 123, ../sass/screen.scss */
#home-footer .left a {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 6px 0 8px 0;
  color: inherit;
  text-align: center;
}
/* line 132, ../sass/screen.scss */
#home-footer .center {
  height: 39px;
  width: 241px;
  display: inline-block;
  float: left;
  margin: 67px 0 0 2px;
  font-size: 22px;
  line-height: 24px;
  color: #B31C00;
  font-weight: bold;
}
/* line 142, ../sass/screen.scss */
#home-footer .center a {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 6px 0 8px 0;
  color: inherit;
  text-align: center;
}
/* line 151, ../sass/screen.scss */
#home-footer .right {
  height: 39px;
  width: 159px;
  display: inline-block;
  float: left;
  margin: 67px 0 0 5px;
  font-size: 22px;
  line-height: 24px;
  color: #322f33;
}
/* line 160, ../sass/screen.scss */
#home-footer .right a {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 6px 0 8px 0;
  color: inherit;
  text-align: center;
}

/* line 170, ../sass/screen.scss */
#home-footerbottom {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #E4E3E3;
}
/* line 173, ../sass/screen.scss */
#home-footerbottom #home-footerrow {
  width: 100%;
  text-align: center;
  display: block;
  float: left;
}
/* line 179, ../sass/screen.scss */
#home-footerbottom .footer-social {
  margin: 35px 0 0 0;
}
/* line 181, ../sass/screen.scss */
#home-footerbottom .footer-social img {
  margin: 0 2px;
}
/* line 185, ../sass/screen.scss */
#home-footerbottom .footer-copy {
  margin: 25px 0 0 0;
  font-size: 12px;
}
/* line 189, ../sass/screen.scss */
#home-footerbottom .footer-tourinfo {
  margin: 15px 0 0 0;
  font-size: 10px;
}
/* line 193, ../sass/screen.scss */
#home-footerbottom .footer-private {
  margin: 15px 0 0 0;
  font-size: 10px;
}
/* line 197, ../sass/screen.scss */
#home-footerbottom .footer-credit {
  margin: 20px 0 20px 0;
  font-size: 10px;
}
/* line 200, ../sass/screen.scss */
#home-footerbottom .footer-credit a {
  color: #00AEEF;
  text-decoration: none;
}
/* line 204, ../sass/screen.scss */
#home-footerbottom .footer-credit #soundonoff {
  width: 10px;
  height: 10px;
  background: url(../img/soundonoff.gif) no-repeat;
  background-position: 0px 0px;
  border: none;
  margin-left: 20px;
}

/* line 215, ../sass/screen.scss */
#inside-widecontainer {
  width: 999px;
  margin: 0 auto;
}

/* line 219, ../sass/screen.scss */
#inside-bigcontainer {
  width: inherit;
  position: relative;
}
/* line 222, ../sass/screen.scss */
#inside-bigcontainer #inside-header {
  width: 961px;
  height: 292px;
  float: left;
  display: block;
  background: url(../img/inside-headerbg.png) top left no-repeat;
  padding: 14px 19px 0 19px;
  overflow: hidden;
}
/* line 230, ../sass/screen.scss */
#inside-bigcontainer #inside-header #inside-header-logo {
  width: 373px;
  margin: 87px auto 0 auto;
  position: relative;
}
/* line 234, ../sass/screen.scss */
#inside-bigcontainer #inside-header #inside-header-logo #header-logo-standard {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 240, ../sass/screen.scss */
#inside-bigcontainer #inside-header #inside-header-logo #header-logo-glow {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 249, ../sass/screen.scss */
#inside-bigcontainer .ghosttour {
  background: url(../img/inside-headerbg-ghost.png) top left no-repeat !important;
}
/* line 252, ../sass/screen.scss */
#inside-bigcontainer .wintertour {
  background: url(../img/inside-headerbg-snow.png) top left no-repeat !important;
}
/* line 255, ../sass/screen.scss */
#inside-bigcontainer #inside-body {
  width: inherit;
  float: left;
  display: block;
  background: url(../img/inside-contentbgtop.png) top left no-repeat, url(../img/inside-contentbgmid.png) top left repeat-y;
}
/* line 260, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar {
  width: 214px;
  display: inline-block;
  float: left;
  margin: 1px 0 0 34px;
}
/* line 265, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnavtop {
  height: 20px;
  width: 214px;
  display: block;
  float: left;
  background: url(../img/inside-navtopbg.jpg) top left no-repeat;
}
/* line 272, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnav {
  min-height: 20px;
  width: 214px;
  display: block;
  float: left;
  background: url(../img/inside-navmidbg.jpg) top left repeat-y;
}
/* line 279, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnav div ul.menu {
  margin: 0 17px 0 17px;
  padding: 0 0 0 0;
}
/* line 282, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnav div ul.menu li.menu-item {
  list-style: none;
}
/* line 284, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnav div ul.menu li.menu-item a {
  color: #FCFAFA;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  float: left;
  width: 100%;
  padding: 7px 0;
}
/* line 295, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnav div ul.menu li.menu-item a:hover {
  text-decoration: underline;
}
/* line 302, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-sidebar #inside-leftnavbottom {
  height: 20px;
  width: 214px;
  display: block;
  float: left;
  background: url(../img/inside-navbottombg.jpg) top left no-repeat;
}
/* line 312, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-content {
  width: 663px;
  display: inline-block;
  float: right;
  margin: 1px 55px 0 0;
  font-size: 16px;
  color: #141515;
}
/* line 319, ../sass/screen.scss */
#inside-bigcontainer #inside-body #inside-content h1 {
  color: #141515;
  font-weight: bold;
  font-size: 18px;
}
/* line 326, ../sass/screen.scss */
#inside-bigcontainer #inside-footer {
  width: inherit;
  float: left;
  display: block;
}
/* line 330, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-top {
  width: inherit;
  height: 189px;
  background: url(../img/inside-footerbg.png) top left no-repeat;
}
/* line 335, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content {
  width: inherit;
}
/* line 337, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content .inside-footer-row {
  width: 100%;
  float: left;
  display: block;
  text-align: center;
}
/* line 343, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content .inside-footer-social {
  margin: 15px 0 15px 0;
}
/* line 345, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content .inside-footer-social img {
  margin: 0 2px;
}
/* line 349, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content .inside-footer-copy {
  margin: 5px 0 0 0;
  color: #E4E3E3;
  font-size: 12px;
  text-shadow: #010101 0 0 5px;
}
/* line 355, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content .inside-footer-credit {
  margin: 20px 0 20px 0;
  color: #E4E3E3;
  font-size: 10px;
  text-shadow: #010101 0 0 5px;
}
/* line 360, ../sass/screen.scss */
#inside-bigcontainer #inside-footer #inside-footer-content .inside-footer-credit a {
  color: #5BCAF9;
  text-decoration: none;
}
