/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
.wp-video { display: inline-block; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* =============================================================================
   Standard WordPress Styles
   ========================================================================== */
   
img.centered, .aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
img.alignright {
padding: 4px;
margin: 0 0 2px 7px;
display: inline;
}
img.alignleft {
padding: 4px;
margin: 0 7px 2px 0;
display: inline;
}
.alignright {
float: right;
}
.alignleft {
float: left;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 780px) and (max-width: 975px) {
#bigcontainer {
	width: 745px;
}
#headertext {
	padding-top: 9px;
}
#cssmenu > ul > li > a {
  font-size: 15px;
}
#nav-search {
	position: relative;
	top: -77px;
}
#homebannercontainer {
	height: 337px;
}
#contentcontainer {
	margin: 0;
}
#pagecontent {
	width: 745px;
}
#thegoods {
	width: 745px;
	margin: 0;
}
#thegoodscontainer {
	width: 745px;
}
#thegoodscontent {
	width: 745px;
}
#thegoods h1 {
	width: 745px
}
#thegoods .woocommerce .type-product h1 {
	width: 355px;
}
#tab-instructionsafety {
	width: 745px;
}
#tab-instructionsafety > tbody > tr > td.left {
	padding-right: 0;
	width: 745px;
	display: block;
}
#tab-instructionsafety > tbody > tr > td.right {
	width: 745px;
	display: block;
}
.producttable {
	width: 745px;
}
.producttable-item {
	width: 372px;
}
#content-right-container {
	display: none;
}
#footertop {
	width: 745px;
	height: 170px;
}
.footertop-third {
	width: 233px;
	height: 170px;
}
.footertop-third a {
	font-size: 15px;
}
.footertop-third a img {
	width: 233px;
}
#footer {
	width: 745px;
}
#footerleft {
	width: 228px;
}
#footercenter {
	width: 228px;
}
#footerright {
	width: 228px;
}
}

@media only screen and (min-width: 430px) and (max-width: 779px) {
#bigcontainer {
	width: 400px;
}
#headerlogo {
	width: inherit;
	padding: 20px 0 0 0;
}
#headertext {
	width: inherit;
	padding-top: 9px;
	text-align: center;
}
#top-translate {
	width: 400px;
	margin: 0;
}
#headertext p {
	padding: 0 0 1px 0;
	display: block;
}
#navcontainer {
	height: 79px;
}
#nav {
	width: 400px;
	height: 80px;
}
#cssmenu > ul > li > a {
  font-size: 15px;
  border: none;
}
#nav-search {
	position: relative;
	top: -45px;
	width: 140px;
	text-align: center;
}
#nav-searchinput {
	width: 110px;
}
#homebannercontainer {
	height: 190px;
}
#contentcontainer {
	margin: 0;
}
#thegoods h1 {
	width: 400px
}
#thegoods .woocommerce .type-product h1 {
	width: 400px;
}
.homeindustries {
	margin: 0 auto;
	display: block;
	float: none;
}
#pagecontent {
	width: 400px;
}
#thegoods {
	width: 400px;
	margin: 0;
}
#thegoodscontainer {
	width: 400px;
}
#thegoodscontent {
	width: 400px;
}
#thegoods table {
	width: 400px !important;
}
#tab-instructionsafety {
	width: 400px;
}
#tab-instructionsafety > tbody > tr > td.left {
	padding-right: 0;
	width: 400px;
	display: block;
}
#tab-instructionsafety > tbody > tr > td.right {
	width: 400px;
	display: block;
}
.producttable {
	width: 400px;
}
.producttable-item {
	width: 200px;
}
#content-right-container {
	display: none;
}
#footertop {
	width: 314px;
	height: 635px;
}
.footertop-third {
	width: 300px;
	height: 206px;
	margin-bottom: 10px;
}
.footertop-third a {
	font-size: 17px;
}
.footertop-third a img {
	width: 300px;
}
#footer {
	width: 400px;
}
#footerleft {
	width: 160px;
}
#footercenter {
	width: 160px;
}
#footerright {
	width: 380px;
	display: block;
	text-align: center;
}
#socialicons {
	text-align: center;
} 
}

@media only screen and (max-width: 429px) {
#bigcontainer {
	width: 280px;
}
#headerlogo {
	width: inherit;
	padding: 20px 0 0 0;
}
#headertext {
	width: inherit;
	padding-top: 9px;
	text-align: center;
}
#top-translate {
	width: 280px;
	margin: 0;
}
#headertext p {
	padding: 0 0 1px 0;
	display: block;
}
#navcontainer {
	height: 119px;
}
#nav {
	width: 280px;
	height: 80px;
}
#cssmenu > ul > li > a {
  font-size: 15px;
  border: none;
}
#nav-search {
	position: relative;
	top: -4px;
	width: 105px;
	text-align: center;
}
#nav-searchinput {
	width: 75px;
}
#homebannercontainer {
	height: 140px;
}
#thegoods {
	margin: 0;
}
#contentcontainer {
	margin: 0;
}
#thegoods h1 {
	width: 280px
}
#thegoods .woocommerce .type-product h1 {
	width: 275px;
}
.homeindustries {
	margin: 0 auto;
	display: block;
	float: none;
}
#pagecontent {
	width: 280px;
}
#thegoods {
	width: 280px;
}
#thegoodscontainer {
	width: 280px;
}
#thegoodscontent {
	width: 280px;
}
#tab-instructionsafety {
	width: 280px;
}
#tab-instructionsafety > tbody > tr > td.left {
	padding-right: 0;
	width: 280px;
	display: block;
}
#tab-instructionsafety > tbody > tr > td.right {
	width: 280px;
	display: block;
}
#tab-instructionsafety .quantitychart {
	width: 280px;
}
.withcheck {
	width: 280px !important;
}
.withcheck td {
	display: block;
}
.producttable {
	width: 280px;
}
.producttable-item {
	width: 280px;
	display: block;
}
#content-right-container {
	display: none;
}
#footertop {
	width: 280px;
	height: 600px;
}
.footertop-third {
	width: 266px;
	height: 190px;
	margin-bottom: 10px;
}
.footertop-third a {
	font-size: 17px;
}
.footertop-third a img {
	width: 266px;
}
#footer {
	width: 280px;
}
#footerleft {
	width: 260px;
}
#footercenter {
	width: 260px;
}
#footerright {
	width: 260px;
	display: block;
	text-align: center;
}
#socialicons {
	text-align: center;
}
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
