/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* =============================================================================
   Standard WordPress Styles
   ========================================================================== */
   
img.centered, .aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
img.alignright {
padding: 4px;
margin: 0 0 2px 7px;
display: inline;
}
img.alignleft {
padding: 4px;
margin: 0 7px 2px 0;
display: inline;
}
.alignright {
float: right;
}
.alignleft {
float: left;
}

/* ==|== primary styles =====================================================
   Author: Matthew Phelps matt@mtthwphlps.com
   ========================================================================== */
body {
	background: #FFFFFF;
	color: #2C2B2B;
	font-family: "nimbus-sans-condensed";
}
input {
	font-family: "nimbus-sans-condensed";
}
a, a:visited {
	color: #ff6b09;
}
#bigcontainer {
	width: 940px;
	margin: 0 auto;
}
#headercontainer {
	width: 940px;
}
#header {
	width: 940px;
	height: 112px;
	margin: 0;
	background: url(../img/headerbg.png) no-repeat bottom center;
}
#headerlogo {
	width: 175px;
	height: 70px;
	padding: 42px 0 0 10px;
	display: inline-block;
	float: left;
	text-align: center;
}
#headertext {
	float: right;
	width: 275px;
	height: 90px;
	text-align: left;
	padding: 15px 0 0 0;
}
#top-translate {
	display: block;
	margin: 0 0 10px 19px;
	width: 200px;
}
#headertext p {
	padding: 0 0 6px 20px;
	display: inline-block;
	margin: 0 0 2px 0;
}
#headertext, #headertext a {
	color: #666666;
	font-size: 14px;
	text-decoration: none;
}
.top-phone:before {
	content: "\f095";
	font-family: 'FontAwesome';
	color: #000000;
}
.top-phone span {
	font-size: 17px;
}
.email-icon:before {
	content: "\f0e0";
	font-family: 'FontAwesome';
	color: #000000;
}
#headertext .email-icon a {
	font-size: 17px;
}
#pagecontainer {
	width: 940px;
	display: inline-block;
	margin: 0;
	background: #FFFFFF;
	float: left;
}
#navcontainer {
	width: 940px;
	height: 40px;
	margin: 0 0 0 0;
	float: left;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	z-index: 1;
	position: relative;
}
#nav {
	width: 750px;
	display: inline-block;
	height: 40px;
}
#nav-search {
	display: inline-block;
	float: right;
	width: 187px;
	margin: 8px 0 0 0;
	text-align: right;
}
#nav-searchinput {
	background: #ffffff;
	width: 154px;
	height: 20px;
	border: #999999 1px solid;
	color: #777777;
	font-size: 14px;
}
#nav-searchsubmit {
	background: url(../img/search.gif) no-repeat center center;
	width: 21px;
	height: 20px;
	border: none;
}
#pagecontainer2 {
	width: 940px;
	float: left;
	margin: 20px 0 0 0;
}
#homebannercontainer {
	width: 940px;
	height: 400px;
	float: left;
	margin: 0 0 0 0;
}
.ficontainer {
	height: 225px !important;
	margin: 0 0 0 5px !important;
	width: 940px !important;
}
#featuredimagecontainer {
}
#featuredimage {
}
.featuredimagebackground {
}
#featuredimage img {
}
#contentcontainer {
	width: 940px;
	padding: 0 0 0 0;
	margin: 25px 0 0 0;
	float: left;
	background: #ffffff;
}
#pagecontent {
	width: 700px;
	float: left;
	padding: 0;
	display: inline-block;
}
#thegoods {
	width: 680px;
	float: left;
	font-size: 16px;
	margin: 0 10px;
	letter-spacing: 0.4px;
	line-height: 23px;
}
.fullwidth {
	width: 940px !important;
}
#thegoodscontainer {
	margin: 0;
	width: 680px;
}
#thegoodscontent {
	margin: 0 0 0 0;
	overflow: visible;
}
.breadcrumbs {
	font-size: 12px;
	margin: 0 0 10px 0;
}
ul.postTabs {
	position: relative;
	top: -54px;
	font-size: 16px !important;
}
ul.postTabs li {
	font-size: 16px !important;
}
.postTabs_divs {
	margin: -94px 0 0 0;
	padding: 0;
}
#thegoodsbottom {
	margin: 0 0 0 13px;
	width: 700px;
	height: 50px;
	background: url(../img/content-bottom.png) no-repeat center top;
}
.notopmargin {
	margin-top: 0 !important;
}
#thegoods img {
	max-width: 100%;
	height: auto;
}
#thegoods h1 {
	color: #505050;
	font-size: 33px;
	line-height: 37px;
	font-weight: 300;
	margin: 0;
	float: left;
	font-family: "nimbus-sans-condensed", Arial Narrow, Helvetica, sans-serif;
	border-bottom: 1px solid #EBEBEB;
	margin: 0 10px 30px 0;
	padding: 3px 0 30px 0;
	width: 940px;
}
#thegoods .wp-video {
	display: inline-block;
}
#thegoods .woocommerce .type-product h1 {
	width: 430px;
}
#thegoods .added_to_cart {
	margin-left: 30px;
}
#thegoods h2 {
	font-size: 1.5em;
	font-weight: 300;
}
#thegoods p {
	font-size: 1em;
	padding: 0;
}
#thegoods table {
	display: inline-block;
}
table.withcheck ul li {
	background: url(../img/checked.png) no-repeat left top;
	padding-left: 22px;
	list-style: none;
	line-height: 21px;
	font-size: 15px;
	color: #999999;
}
.contentblock {
	display: block;
	float: left;
	width: 100%;
}
.videoright {
	float: right;
	display: inline-block;
}
.hometitle {
	font-size: 31px !important;
	line-height: 30px;
	margin-bottom: 35px;
	color: #505050;
	text-align: center;
}
.hometag {
	font-size: 25px !important;
	margin: 0 10px 37px 0;
	font-weight: 400;
	text-align: center;
	color: #999999;
}
.homeindustries {
	width: 220px;
	display: inline-block;
	float: left;
	margin: 0 7px;
}
.homeindbutton:after {
	content: "\F054";
	font-family: "FontAwesome";
	position: relative;
	right: -8px;
	top: 2px;
}
.homeindbutton {
	background: #EEEEEE;
	color: #333333;
	display: block;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 21px;
	padding: 10px 15px 10px 15px;
	text-align: left;
	text-decoration: none;
}
.homeindbutton:hover {
	background: #333333;
	color: #EEEEEE;
}
#thegoods ul {
	margin: 0;
}
#address_search, #map_sidebar {
	display: none;
}
.wpcf7-form p {
	margin: 5px 0;
}
.post {
	float: left;
	width: 100%;
	padding: 15px 0 0 0;
	border-bottom: #EBEBEB 2px solid;
}
.post-featuredimg {
}
a.postarchive-title {
	color: #828282;
	text-decoration: none;
}
.postarchive-date {
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	display: block;
	width: 100%;
	padding: 2px 0 4px 0;
	margin: 0 0 15px 0;
	font-size: 11px;
	line-height: 23px;
}
.postarchive-date span {
	padding-left: 10px;
	color: #B2B2B2;
}
.postarchive-date:before {
	content: "\F073";
	font-family: "FontAwesome";
	color: #2D5C88;
	font-size: 14px;
}
#tab-instructionsafety {
	width: 930px;
}
#tab-instructionsafety tr {
}
#tab-instructionsafety tr td.left {
	padding-right: 25px;
	width: 440px;
}
#tab-instructionsafety tr td.right {
	width: 465px;
}
#tab-instructionsafety tr td hr {
	width: inherit;
	border: 1px solid #808080;
	height: 1px;
}
#tab-instructionsafety tr td p {
	width: inherit;
}
#tab-instructionsafety tr td table {
	width: 465px;
}
#tab-instructionsafety tr td table tr {
}
#tab-instructionsafety tr td table tr td {
	text-align: left;
	color: #333333;
	line-height: 33px;
}
#tab-instructionsafety tr td table tr td.toptitle {
	font-weight: 700;
}
#tab-instructionsafety tr td table tr td.sectiontitle {
	border-top: 2px solid #B2B2B2;
	font-weight: 700;
}
#tab-instructionsafety tr td table tr td.left {
	padding-left: 18px;
	border-bottom: 1px solid #F1F1F0;
}
#tab-instructionsafety tr td table tr td.right {
	border-bottom: 1px solid #F1F1F0;
}
.insidepage {
}
.insidepage h2 {
	margin: 5px 0;
	display: block;
}
.insidepage h3 {
	margin: 5px 0;
	display: block;
}
.insidepage p {
	margin: 5px 0;
}
.archive p {
	margin: 0 0 10px 0;
}
.archivemoretag {
	display: inline-block;
	margin: 15px 0 15px 0;
	padding: 6px 13px;
	background: #373737;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF !important;
	font-size: 16px;
}
#content-right-container {
	width: 233px;
	float: right;
	display: inline-block;
	margin-top: 120px;
}
#woocommerceglobalbuttons {
	float: right;
	height: 0px;
	position: relative;
	right: 0;
	top: 35px;
}
.contactarialreps {
}
.contactarialreps td {
	padding: 0 10px;
}
.becomedist {
	border: 1px solid #EFEFEF;
	color: #727272;
	line-height: 23px;
	padding: 25px;
}
.becomedist strong {
	font-size: 30px;
	font-weight: 400;
	line-height: 32px;
	color: #000000;
}
.dropcapcircle {
    background-color: #373737;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    height: 39px;
    line-height: 39px;
    margin: 0 20px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 39px;
}
#content-right {
	width: 209px;
	margin: 10px 0 0 12px;
	padding: 0;
	float: left;
	font-size: 14px;
}
#content-right .defaultsidebarwidget, #content-right .blogsidebarwidget  {
	width: 209px;
	margin: 0 0 20px 0;
}
#content-right .defaultsidebarwidget:last-child {
	border-bottom: none;
}
.defaultsidebarwidgetwrapper {
}
#content-right a {
	color: #CC6600;
}
#content-right h3 {
}
.rpwe-block ul {
	list-style: none outside none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}
.rpwe-block li {
	border-bottom: 1px solid #EEEEEE;
	list-style-type: none;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.rpwe-block a {
	display: inline !important;
	text-decoration: none;
}
.rpwe-block h3 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	clear: none;
	font-size: 16px !important;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.rpwe-thumb {
	border: 1px solid #EEEEEE !important;
	box-shadow: none !important;
	margin: 2px 10px 2px 0;
	padding: 3px !important;
}
.rpwe-summary {
	font-size: 14px;
}
.rpwe-time {
	color: #BBBBBB;
	font-size: 13px;
}
.rpwe-alignleft {
	display: inline;
	float: left;
}
.rpwe-alignright {
	display: inline;
	float: right;
}
.rpwe-alignnone {
	display: block;
	float: none;
}
.rpwe-clearfix:before, .rpwe-clearfix:after {
	content: "";
	display: table !important;
}
.rpwe-clearfix:after {
	clear: both;
}
.rpwe-clearfix {
}
.fullwidth-pagecontent {
	width: 758px !important;
}
.fullwidth-thegoods {
	width: 758px !important;
}
.fullwidth-thegoodscontainer {
	width: 734px !important;
}
.fullwidth-thegoodscontent {
	width: 734px !important;
}
.fullwidth-thegoodsbottom {
	width: 940px !important;
	background: url(../img/1col-content-bottom.png) no-repeat top center !important;
}
#content-right-bottom {
	background: url(../img/swish.png) no-repeat top center;
	width: 235px;
	height: 32px;
	float: left;
	margin: -5px 0 0 0;
}
#footertopcontainer {
	width: 100%;
	padding: 45px 0 45px 0;
	float: left;
	background: #EEEEEE;
}
#footertop {
	width: 948px;
	height: 205px;
	margin: 0 auto;
}
.footertop-third {
	height: 205px;
	width: 300px;
	display: inline-block;
	float: left;
	background: #FDD800;
	margin: 0 7px;
	text-align: center;
}
.footertop-third a {
	font-family: "nimbus-sans-condensed", Arial Narrow, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	text-decoration: none;
	line-height: 40px;
}
#footercontainer {
	width: 100%;
	margin: 0 0 0 0;
	float: left;
	background: #08426A;
}
#footer {
	margin: 0 auto;
	width: 940px;
	color: #CCCCCC;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}
#footer .footertitle {
	font-family: 'Allerta', sans-serif;
	color: #FFFFFF;
}
#footer h3 {
	font-size: 18px;
	margin-bottom: 15px;
	color: #EBEBEB;
	font-weight: 600;
}
#footerleft {
	width: 290px;
	float: left;
	padding: 0 10px;
}
#footercenter {
	width: 290px;
	float: left;
	padding: 0 10px;
}
#footerright {
	width: 290px;
	float: right;
	padding: 0 10px;
}
#footerfull {
	float: right;
	width: 940px;
	margin: 20px 0 0 0;
	padding: 20px 0 10px 0;
	border-top: #7C95A6 1px solid;
	color: #7C95A6;
}
#footernav {
	width: 100%;
	float: right;
}
#footernav ul.menu {
	margin: 0;
	padding: 0;
	float: right;
}
#footernav ul.menu li.menu-item {
	margin: 0;
	padding: 0 5px;
	list-style: none;
	float: left;
	border-right: #CAC8C8 1px solid;
}
#footernav ul.menu li.menu-item:last-child {
	border: none;
}
#footernav ul.menu li.menu-item div.nav-link {
}
#footernav a {
	text-decoration: none;
	color: #CAC8C8;
}
#footernav a:hover {
	text-decoration: underline;
}
#socialicons {
	width: 100%;
	text-align: left;
}
#socialicons img {
	margin: 0 10px;
}
.ai1ec-container {
	padding-bottom: 30px;
}

/* ==|== header menu styles==================================================
   ========================================================================== */
#indicatorContainer {
	display: none;
}
#menu-button {
	display: none;
}
#cssmenu ul {
  margin: 0;
  padding: 0;
}
#cssmenu li {
  margin: 0;
  padding: 0;
}
#cssmenu a {
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu a {
  text-decoration: none;
}
#cssmenu {
  height: 40px;
  width: auto;
}
#cssmenu > ul > li {
  float: left;
  margin-left: 0;
  position: relative;
  height: 40px;
}
#cssmenu > ul > li > a {
  color: #000000;
  font-size: 17px;
  line-height: 39px;
  padding: 11px 20px;
  border-right: #EBEBEB 1px solid;
}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li.current-menu-item > a, #cssmenu > ul > li.current-menu-parent > a {
	background: #DDDDDD;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  display: none;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -90px;
  margin-top: 0;
  width: 180px;
  z-index: 1000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 40px;
  display: block;
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
}
#cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
#cssmenu ul ul ul {
  display: none;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 188px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 180px;
  display: block;
}
#cssmenu ul ul a:hover {
  background-color: #cc2c24;
  color: #f0f0f0;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 750px) and (max-width: 945px) {
#bigcontainer {
	width: 745px;
}
#headercontainer {
	width: 745px;
}
#header {
	width: 745px;
}
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
