/* Custom fonts */
@font-face {
    font-family: 'AyuthayaRegular';
    src: url('fonts/ayuthaya-webfont.eot');
    src: url('fonts/ayuthaya-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ayuthaya-webfont.woff') format('woff'),
         url('fonts/ayuthaya-webfont.ttf') format('truetype'),
         url('fonts/ayuthaya-webfont.svg#AyuthayaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Body styles */
body {
	background: url(../img/background.jpg) top left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#home-widecontainer {
	width: 995px;
	margin: 0 auto;
}
#home-bigcontainer {
	width: inherit;
}

/* Header styles */
#home-header {
	height: 213px;
	width: inherit;
	float: left;
	background: url(../img/home-topbg.png) no-repeat top left;
	#home-headerlogo {
		height: 143px;
		width: 806px;
		padding: 30px 0 0 94px;
	}
}

/* Home styles */
#home-middle {
	height: 564px;
	width: inherit;
	float: left;
	position: relative;
	#home-bannercontainer {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		margin: 5px 0 0 207px;
		height: 559px;
	}
	#home-middlecontainer {
		height: 564px;
		width: inherit;
		background: url(../img/home-bodybg.png) no-repeat top left;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		#home-navleft {
			width: 160px;
			display: inline-block;
			float: left;
			margin: 135px 0 0 51px;
		}
		#home-navright {
			width: 200px;
			display: inline-block;
			float: right;
			margin: 135px 30px 0 0;
		}
		.home-nav {
			div {
				 > ul {
				 	margin: 0;
					padding: 0;
					> li {
						list-style-image: url(../img/navarrow.png);
						> a {
							display: block;
							font-family: 'AyuthayaRegular', sans-serif;
							font-size: 16px;
							font-weight: bold;
							text-decoration: none;
							text-transform: uppercase;
							color: #FFFFFF;
							padding: 10px 0 10px 0;
						}
						> a:hover {
							text-shadow: #996600 2px 0 3px, #996600 0 2px 3px, #996600 -2px 0 3px, #996600 0 -2px 3px;
						}
					}
				}		
			}
		}
	}
}

/* Page styles */

/* Sidebar styles */

/* CUSTOM SIDEBAR STYLES HERE */
/* END CUSTOM SIDEBAR STYLES */
/* Footer styles */
#home-footer {
	height: 120px;
	width: inherit;
	float: left;
	background: url(../img/home-bottombg.png) top left no-repeat;
	.home-footerlink {
	}
	.left {
		height: 39px;
		width: 168px;
		display: inline-block;
		float: left;
		margin: 67px 0 0 202px;
		font-size: 22px;
		line-height: 24px;
		color: #322f33;
		a {
			display: block;
			text-decoration: none;
			width: 100%;
			padding: 6px 0 8px 0;
			color: inherit;
			text-align: center;
		}
	}
	.center {
		height: 39px;
		width: 241px;
		display: inline-block;
		float: left;
		margin: 67px 0 0 2px;
		font-size: 22px;
		line-height: 24px;
		color: #B31C00;
		font-weight: bold;
		a {
			display: block;
			text-decoration: none;
			width: 100%;
			padding: 6px 0 8px 0;
			color: inherit;
			text-align: center;
		}
	}
	.right {
		height: 39px;
		width: 159px;
		display: inline-block;
		float: left;
		margin: 67px 0 0 5px;
		font-size: 22px;
		line-height: 24px;
		color: #322f33;
		a {
			display: block;
			text-decoration: none;
			width: 100%;
			padding: 6px 0 8px 0;
			color: inherit;
			text-align: center;
		}
	}
}
#home-footerbottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E4E3E3;
	#home-footerrow {
		width: 100%;
		text-align: center;
		display: block;
		float: left;
	}
	.footer-social {
		margin: 35px 0 0 0;
		img {
			margin: 0 2px;
		}
	}
	.footer-copy {
		margin: 25px 0 0 0;
		font-size: 12px;
	}
	.footer-tourinfo {
		margin: 15px 0 0 0;
		font-size: 10px;
	}
	.footer-private {
		margin: 15px 0 0 0;
		font-size: 10px;
	}
	.footer-credit {
		margin: 20px 0 20px 0;
		font-size: 10px;
		a {
			color: #00AEEF;
			text-decoration: none;
		}
		#soundonoff {
			width: 10px;
			height: 10px;
			background: url(../img/soundonoff.gif) no-repeat;
			background-position: 0px 0px;
			border: none;
			margin-left: 20px;
		}
	}
}

#inside-widecontainer {
	width: 999px;
	margin: 0 auto;
}
#inside-bigcontainer {
	width: inherit;
	position: relative;
	#inside-header {
		width: 961px;
		height: 292px;
		float: left;
		display: block;
		background: url(../img/inside-headerbg.png) top left no-repeat;
		padding: 14px 19px 0 19px;
		overflow: hidden;
		#inside-header-logo {
			width: 373px;
			margin: 87px auto 0 auto;
			position: relative;
			#header-logo-standard {
				z-index: 5;
				position: absolute;
				top: 0;
				left: 0;
			}
			#header-logo-glow {
				z-index: 6;
				position: absolute;
				top: 0;
				left: 0;
				display: none;
			}
		}
	}
	.ghosttour {
		background: url(../img/inside-headerbg-ghost.png) top left no-repeat !important;
	}
	.wintertour {
		background: url(../img/inside-headerbg-snow.png) top left no-repeat !important;
	}
	#inside-body {
		width: inherit;
		float: left;
		display: block;
		background: url(../img/inside-contentbgtop.png) top left no-repeat, url(../img/inside-contentbgmid.png) top left repeat-y;
		#inside-sidebar {
			width: 214px;
			display: inline-block;
			float: left;
			margin: 1px 0 0 34px;
			#inside-leftnavtop {
				height: 20px;
				width: 214px;
				display: block;
				float: left;
				background: url(../img/inside-navtopbg.jpg) top left no-repeat;
			}
			#inside-leftnav {
				min-height: 20px;
				width: 214px;
				display: block;
				float: left;
				background: url(../img/inside-navmidbg.jpg) top left repeat-y;
				div {
					ul.menu {
						margin: 0 17px 0 17px;
						padding: 0 0 0 0;
						li.menu-item {
							list-style: none;
							a {
								color: #FCFAFA;
								text-decoration: none;
								font-weight: normal;
								text-transform: uppercase;
								font-family: 'Montserrat', sans-serif;
								font-size: 14px;
								float: left;
								width: 100%;
								padding: 7px 0;
							}
							a:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			#inside-leftnavbottom {
				height: 20px;
				width: 214px;
				display: block;
				float: left;
				background: url(../img/inside-navbottombg.jpg) top left no-repeat;
			}
			#inside-widgets {
			}
		}
		#inside-content {
			width: 663px;
			display: inline-block;
			float: right;
			margin: 1px 55px 0 0;
			font-size: 16px;
			color: #141515;
			h1 {
				color: #141515;
				font-weight: bold;
				font-size: 18px;
			}
		}
	}
	#inside-footer {
		width: inherit;
		float: left;
		display: block;
		#inside-footer-top {
			width: inherit;
			height: 189px;
			background: url(../img/inside-footerbg.png) top left no-repeat;
		}
		#inside-footer-content {
			width: inherit;
			.inside-footer-row {
				width: 100%;
				float: left;
				display: block;
				text-align: center;
			}
			.inside-footer-social {
				margin: 15px 0 15px 0;
				img {
					margin: 0 2px;
				}
			}
			.inside-footer-copy {
				margin: 5px 0 0 0;
				color: #E4E3E3;
				font-size: 12px;
				text-shadow: #010101 0 0 5px;
			}
			.inside-footer-credit {
				margin: 20px 0 20px 0;
				color: #E4E3E3;
				font-size: 10px;
				text-shadow: #010101 0 0 5px;
				a {
					color: #5BCAF9;
					text-decoration: none;
				}
			}
		}
	}
}